

body {
    --maincolor: rgb(248, 241, 231);
    --textcolor: rgb(80, 35, 20);
    overflow: auto; 
    padding-top: 55px; 
    margin: 0;
    padding: 0;
    background-color: var(--maincolor);
    overflow-x: hidden;
}

.header{
    width: 100%;
    height: 55px;
    background-color:var(--maincolor) ;
    border-bottom: 1px solid rgb(111, 111, 111);
    position: sticky;
    top: 0;
    z-index: 1;

}
.headnav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#head3{
  margin-left: 10px;
  margin-right: 5px;
}
#head2{
  height: 40px;
  margin-top: 10px;
  margin-left: 130px;
}
#head4{
  
  margin-bottom: 5px;
  border-radius: 20px;
}
.site{
 
    background-color: var(--maincolor); 
    color: var(--textcolor);
    clear: both;
      /* position: relative;
      top: 3rem;
     */
    
}
.starttext{
    
        font-family: "Lilita One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 66px;
        margin: 0;
       /* margin-top: 132px;
       margin-left:  146px; */
      }
      
      .starttext1{
    
        font-family: "Lilita One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 66px;
        margin: 0;
        
        /* margin-top: 130px;
        margin-left: 146px; */
      }
      
      #orderbutton{
        color: white;
        background-color: rgb(214, 35, 0);
        height: 49px;
        width: 294px;
        border-radius: 30px;
        font: size 30px;
        font-family:cursive;
        cursor: pointer;
      }
      #orderbutton:hover{
        background-color: rgb(121, 20, 0); 
        

      }
      #cartlogo{
        margin-left: 20;
        margin-top: 35px;
        color: white;
        height: 18
      }
      #orderbutton2{
        color:var(--textcolor);
        background-color:transparent;
        height: 49px;
        width: 294px;
        margin-top: 16px;
       
        border-radius: 30px;
        font: size 30px;
font-family:cursive;
cursor: pointer;
      }
      #orderbutton2:hover{
        background-color: rgb(161, 159, 158); 
        

      }
      #cart2logo{
        color: black;
        height: 18px;
      }
      .rowone{
        background-color: transparent;
        height: 319px;
        width: 297px;
        margin-top: 68px;
        margin-left: 180px;
        float: left;
        overflow: visible;
      }
    
.coltwo{
    /* background-color:yellow; */
    width: 630px;
    height: 388px;
    margin-left: 212px;
    float: left;
    margin-top: 13px;
    /* overflow: visible; */
    


}
.imgone{
 width: 100%;
 height: 100%;
}
.menudiv{
    background-color: var(--maincolor);
    margin-top: 53px;

    width: 100%;
    height:auto;

    float: left;
    clear: both;

}
.menu{
    background-color: white;
    color: var(--textcolor);
    height: 455px ;
    width: 580px;
    margin-left: 170px;
    float: left;
    overflow: hidden;
 border-radius: 20px;
}

.menuimg{
    width: 100%;
    height: min-content;
    
}
.menuhead{
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
    margin: 5px;

}
.paramenu{
    font-family: serif;
    font-size: small;
    margin: 5px;

}
.link{
    color: var(--textcolor);
    margin: 4px;

}
.rowone i{
  margin-right: 5px;
}
.menubutton{
    background-color: transparent;
    color: var(--textcolor);
    border-radius: 20px;
    margin-top: -4px;
    margin-left: 461px;
    height: 38px;
    width: 100px;
}
.menubutton:hover{
    background-color: rgb(97, 81, 81);
}
.menu2{
    
        background-color: white;
        color: var(--textcolor);
        height: 455px ;
        width: 580px;
        margin-right: 165px;
        float: right;
        overflow: hidden;
        border-radius: 20px;
        margin-bottom: 20px;
    
}
.menudiv2{

    background-color: var(--maincolor);
    margin-top: 20;

    width: 100%;
    height:auto;

    float: left;
    clear: both;
    


}
.menubuttontwo{
  background-color: transparent;
  color: var(--textcolor);
  border-radius: 20px;
  margin-top: 9px;
  margin-left: 432px;
  height: 38px;
  width: 130px;
}
.menubuttontwo:hover{
  background-color: rgb(97, 81, 81);
}

.hellok{
width: 100%;
height: 110px;
background-color:var(--maincolor);
color: rgb(20, 20, 142);
clear: both;

}
.last{
  background-color:rgb(218, 218, 218);
  width: 100%;
  height: auto;
color: white;
}
.last h1{
margin: 0;
padding: 0;
}
.phone{
  background-color: transparent;
padding-left: 250px;
  height: 470px;
  width: 425px;
  margin-top: -45px;
  /* border: 2px solid black; */
  float: left;
  
}
.phone img{
height: 430px;
width: 430px;
}
.store{
  background-color:transparent;
  float: left;
  /* border: 2px solid black; */
  width: 50%;
  height: 385px;
  padding-left: 60px;
  padding-top: 40px;
  
}
.store h1{
  font-family: "Lilita One", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--textcolor);
  font-size: 56px;
}
.store p{
  color: var(--textcolor);
  margin-top: 30px;
  line-height: 20px;

}
.store img{
  height: 55px;
  width: 170px;
  border-radius: 7px;
  margin-top: 30px;
}
.final{
  width: 100%;
  height: 50px;
  background-color: var(--textcolor);
  clear: both;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 470px;;
  }
.bottomnav{
  width: 100%;
  height: 70px;
  background-color: var(--maincolor);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 1px;


  
}




